<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	
	<context:property-placeholder location="jdbc.properties" />
	
	<!--
		Scans within the base package of the application for @Components to
		configure as beans
	-->
	<context:component-scan
		base-package="com.tud2016Hibernate.manager" />
 	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
	destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!--
		enable the configuration of transactional behavior based on
		annotations
	-->
	<tx:annotation-driven transaction-manager="txManager" />

	<bean id="hibernateSessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="schemaUpdate" value="true" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
        <prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="packagesToScan" value="com.tud2016Hibernate.model" />
	</bean>

	<bean id="txManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="hibernateSessionFactory" />
	</bean>
	
	<bean id="account1" class="com.tud2016Hibernate.model.Account">
		<property name="login" value="qwertyui" />
		<property name="password" value="1234" />
	</bean>
	
	<bean id="account2" class="com.tud2016Hibernate.model.Account">
		<property name="login" value="zxcvbnm" />
		<property name="password" value="qwerty" />
	</bean>
	
	<bean id="account3" class="com.tud2016Hibernate.model.Account">
		<property name="login" value="TestCase3" />
		<property name="password" value="qwerty1234" />
	</bean>

	<bean id="account4" class="com.tud2016Hibernate.model.Account">
		<property name="login" value="TestCase4" />
		<property name="password" value="qwerty1234" />
	</bean>

	<bean id="account5" class="com.tud2016Hibernate.model.Account">
		<property name="login" value="TestCase5" />
		<property name="password" value="qwerty1234" />
	</bean>

	<bean id="account6" class="com.tud2016Hibernate.model.Account">
		<property name="login" value="TestCase6" />
		<property name="password" value="qwerty1234" />
	</bean>

	<bean id="account7" class="com.tud2016Hibernate.model.Account">
		<property name="login" value="TestCase7" />
		<property name="password" value="qwerty1234" />
	</bean>

	<bean id="account8" class="com.tud2016Hibernate.model.Account">
		<property name="login" value="TestCase8" />
		<property name="password" value="qwerty1234" />
	</bean>

	<bean id="account9" class="com.tud2016Hibernate.model.Account">
		<property name="login" value="TestCase9" />
		<property name="password" value="qwerty1234" />
	</bean>

	<bean id="account10" class="com.tud2016Hibernate.model.Account">
		<property name="login" value="TestCase10" />
		<property name="password" value="qwerty1234" />
	</bean>

	<bean id="account11" class="com.tud2016Hibernate.model.Account">
		<property name="login" value="TestCase11" />
		<property name="password" value="qwerty1234" />
	</bean>

	<bean id="account12" class="com.tud2016Hibernate.model.Account">
		<property name="login" value="TestCase12" />
		<property name="password" value="qwerty1234" />
	</bean>
	
	<bean id="character1" class="com.tud2016Hibernate.model.Character">
		<property name="nick" value="Character1" />
		<property name="characterClass" value="Mage" />
		<property name="characterRace" value="Human" />
		<property name="level" value="100" />
	</bean>
	
	<bean id="character2" class="com.tud2016Hibernate.model.Character">
		<property name="nick" value="Character2" />
		<property name="characterClass" value="Warrior" />
		<property name="characterRace" value="Human" />
		<property name="level" value="50" />
	</bean>

	<bean id="character3" class="com.tud2016Hibernate.model.Character">
		<property name="nick" value="Character3" />
		<property name="characterClass" value="Hunter" />
		<property name="characterRace" value="Elf" />
		<property name="level" value="90" />
	</bean>
	
	<bean id="character4" class="com.tud2016Hibernate.model.Character">
		<property name="nick" value="Character4" />
		<property name="characterClass" value="Warrior" />
		<property name="characterRace" value="Orc" />
		<property name="level" value="95" />
	</bean>

	<bean id="character5" class="com.tud2016Hibernate.model.Character">
		<property name="nick" value="Character5" />
		<property name="characterClass" value="Warlock" />
		<property name="characterRace" value="Human" />
		<property name="level" value="110" />
	</bean>

	<bean id="character6" class="com.tud2016Hibernate.model.Character">
		<property name="nick" value="Character6" />
		<property name="characterClass" value="Shadow Hunter" />
		<property name="characterRace" value="Troll" />
		<property name="level" value="100" />
	</bean>

	<bean id="character7" class="com.tud2016Hibernate.model.Character">
		<property name="nick" value="Character7" />
		<property name="characterClass" value="Necromancer" />
		<property name="characterRace" value="Undead" />
		<property name="level" value="70" />
	</bean>

	<bean id="character8" class="com.tud2016Hibernate.model.Character">
		<property name="nick" value="Character8" />
		<property name="characterClass" value="Demon Hunter" />
		<property name="characterRace" value="Elf" />
		<property name="level" value="90" />
	</bean>

	<bean id="character9" class="com.tud2016Hibernate.model.Character">
		<property name="nick" value="Character9" />
		<property name="characterClass" value="Druid" />
		<property name="characterRace" value="Tauren" />
		<property name="level" value="15" />
	</bean>

	<bean id="character10" class="com.tud2016Hibernate.model.Character">
		<property name="nick" value="Character10" />
		<property name="characterClass" value="Engineer" />
		<property name="characterRace" value="Goblin" />
		<property name="level" value="20" />
	</bean>

	<bean id="character11" class="com.tud2016Hibernate.model.Character">
		<property name="nick" value="Character11" />
		<property name="characterClass" value="Barbarian" />
		<property name="characterRace" value="Human" />
		<property name="level" value="95" />
	</bean>
</beans>